 /* <Main */

 main {
   display: flex;
   flex-wrap: wrap;
   justify-content: space-evenly;
   position: relative;
 }

 .result {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
 }

 h1 {
  margin-top: 50px;
  width: 100%;

  @media screen and (min-width: 600px) {
    margin-top: 25px;
   } 
 }

 .driver {
   width: 630px;
   height: 400px;
   margin: 25px;
   
   @media screen and (min-width: 992px) {
    height: 500px;
   } 
 }

 .infos-driver {
   display: flex;
   align-items: center;
   justify-content: space-between;
   border: 2px solid var(--color-black);
   border-left: none;
   border-right: none;
   height: 100px;
   padding: 15px 0;

   .name {
     display: flex;
     flex-direction: column;
     justify-content: center;
     justify-content: space-evenly;
     height: 75px;
     padding-left: 15px;
     border-left: 5px solid var(--color-red);

     p {
       margin: 0;
       font-size: 18px;
     }

     strong {
       font-size: 25px;
     }
   }

   .driver-flag {
     background: url(../img/C/F1Flag/Spanish.png) center;
     background-size: cover;
     border: 1px solid var(--color-black);
     border-radius: 10px;
     height: 65px;
     width: 100px;
     transition: 0.5s;

     &:hover {
      scale: 1.1;
     }
   }
 }

 .driver-page {
   position: relative;
   height: 250px;

   @media screen and (min-width: 600px) {
    height: 300px;
   } 
   
   @media screen and (min-width: 992px) {
    height: 350px;
   } 

   .driver-team {
     position: absolute;
     color: var(--color-black);
     text-decoration: none;
     margin: 15px 0;
     top: 0;
     transition: 0.3s ease;

     &:hover {
      transform: translateX(10px);
      color: blue;
      text-decoration: underline;
      text-underline-offset: 3px;
    }
   }

   img:first-of-type {
     width: 200px;
     height: 200px;
     object-fit: contain;
     object-position: bottom;
     position: absolute;
     right: 0;
     bottom: 0;
     cursor: pointer;
     transition: 1s ease-out;

     &:hover {
      background-color: rgba(0, 0, 0, 0.100);
      border-radius: 50px;
     }

     @media screen and (min-width: 600px) {
      height: 250px;
      width: 250px;
     } 
     
     @media screen and (min-width: 992px) {
      width: 300px;
      height: 300px;
     } 
   }

   img:last-of-type {
     position: absolute;
     width: 120px;
     left: 0;
     bottom: 0;
     transition: 0.3s;

     &:hover {
      scale: 1.1;
     }

     @media screen and (min-width: 600px) {
      width: 175px;
     }
     
     @media screen and (min-width: 992px) {
      width: 200px;
     } 
   }
 }

 .sort {
  display: flex;
  justify-content: space-evenly;
  position: absolute;
  top: 10px;
  width: 200px;
  height: fit-content;
  flex-wrap: wrap;

  @media screen and (min-width: 600px) {
    top: 15px;
    left: 25px;
   } 

  .sort-AZ,
  .sort-point {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    min-width: 75px;
    height: 35px;
    font-weight: bold;
    color: var(--color-black);
    border: 2px solid var(--color-black);
    background-color: var(--color-white);
    border-radius: 15px;
  }

  .sort-select {
    color: var(--color-white);
    background-color: var(--color-black);
    border: none;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  }
 }

 /* Main> */